body {
	padding: 0 20px;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	
	background-color: #252526;
}


button {
	border:2px  blue;
	padding: 4px 4px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background: #007acc;
	border-radius: 8px;
	margin: 4px auto;
}

button:hover {
	cursor: pointer;
	background: #005a9c;
	transform: translateY(-2px);
}

.run-all-button {
    background-color: #28a745;
    color: white; 
	border: #28a745;
}




.delete-button {
    background-color: #dc3545; 
    color: white; 
	width: 40px;
	border-radius: 5px; 
    cursor: pointer;
	border: #dc3545;
    margin: auto;

}

.run-all-button:hover {
    background-color: #218838; 
}



.delete-button:hover {
    background-color: #c82333; 
}

.testCases_title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; 
}

.status-icon {
	font-size: 24px;
    margin-left: 10px;
}
textarea,
input {
    display: block; 
    width: 100%;
    border: 1px solid black;
    font-family: 'Fira Code', monospace; 
    padding: 4px 2px; 
    color: solid black; 
    outline: none; 
    background-color: #f5f5f5; 
    border-radius: 8px; 
    transition: border-color 0.3s ease, background-color 0.3s ease; 
	margin:auto;
}

input {
    font-size: 18px;
}


input::placeholder,
textarea::placeholder {
    color: #aaa; 
}

.test-case {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 8px;
    margin: 10px auto;
    display: block;
    flex-direction: column; 
    align-items: center;

}
.head-test{
    display: flex;
    justify-content: space-between;
}
.box {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px 0;
}           
.label{
    text-align: left;
    margin: 10px auto;
}


.shadowed-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.shadowed-button:hover {
    transform: translateY(-2px);
}
